<nav class="bg-black">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-32 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="/">
              <img class="h-24 w-auto" src="/logo.svg" alt="The Geek Factory">
            </a>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <!--Header Socials-->
          <div class="flex flex-shrink-0 items-center">
            <a 
              href="https://www.instagram.com/the.geek.factory/"
              target="_blank"
            >
              <img class="h-12 w-auto" src="/instagram.svg" alt="Your Company">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  